@import '../../../styles/app';

.RideHeader {
  margin-top: -2rem;
  height: 15rem;
  overflow: hidden;
  position: relative;
  @extend %depth-5-i;
  margin-bottom: $spacing-2;

  img {
    width: 100%;
    position: absolute;
    top: -150%;
  }
}

.RideDetails {
  padding-top: $spacing-1;

  hr {
    margin-top: $spacing-2;
    margin-bottom: $spacing-2;
    border-color: $color-bg;
  }

  p {
    text-align: center;
    font-size: 1.2rem;

    strong {
      font-size: 2.5rem;
      display: block;
    }
  }

  p:first-of-type {
    text-align: left;
    margin-top: $spacing-1;
    font-size: 1.8rem;
  }

  p:nth-of-type(2) {
    strong {
      font-size: 3rem;
    }
  }

  button {
    background-color: $brand-secondary;
    color: #FFFFFF;
    padding: 2rem;
    font-size: 1.8rem;
    line-height: 1.8rem;
    width: 60%;
    border-radius: .5rem;
  }

}
