@import '../../../../styles/app';

.GlobalNavbar {
  position: fixed;
  width: 100%;
  top: 0;
  background-color: $brand-primary;
  display: flex;
  color: #FFFFFF;
  height: $header-height;
  line-height: $header-height;
  z-index: 100;
  @extend %container;
  @extend %depth-2;

  h1 {
    font-family: $font-stack-logo;
    font-weight: 600;
  }

  ul {
    display: flex;

    li {
      margin-left: 2rem;
    }
  }
}
