/* RESET */
html, body, div, main, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, button, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend, input, textarea,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video,
::before, ::after {

	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
	text-decoration: none;

	box-sizing: border-box;

}

article, aside, details, figcaption, figure,
footer, header, hgroup, main, menu, nav, section {
	display: block;
}

html {
	font-size: 62.5%;
}

body {
<<<<<<< HEAD
	line-height: 1;
	font-size: 1.6rem;
	background-color: #E9E9EF;
	padding-top: 6rem;
}

ol, ul { list-style: none; }

blockquote, q { quotes: none; }
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

a, a:hover, a:active, a:visited { color: inherit; }

.leftSide {
	background-color: #262630;
	width: 24rem;
	position: fixed;
	left: 0;
	top: 6rem;
	bottom: 0;
	overflow: scroll;
}

.rightSide {
	position: absolute;
	top: 6rem;
	left: 24rem;
	right: 0;
}

@font-face {
  font-family: 'proxima';
  src: url('assets/ProximaNovaSoft-Regular.eot?#iefix') format('embedded-opentype'),  url('assets/ProximaNovaSoft-Regular.woff') format('woff'), url('assets/ProximaNovaSoft-Regular.ttf')  format('truetype'), url('assets/ProximaNovaSoft-Regular.svg#ProximaNovaSoft-Regular') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'proxima-medium';
  src: url('assets/ProximaNovaSoft-Medium.eot?#iefix') format('embedded-opentype'),  url('assets/ProximaNovaSoft-Medium.woff') format('woff'), url('assets/ProximaNovaSoft-Medium.ttf')  format('truetype'), url('assets/ProximaNovaSoft-Medium.svg#ProximaNovaSoft-Medium') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'proxima-semibold';
  src: url('assets/ProximaNovaSoft-Semibold.eot?#iefix') format('embedded-opentype'),  url('assets/ProximaNovaSoft-Semibold.woff') format('woff'), url('assets/ProximaNovaSoft-Semibold.ttf')  format('truetype'), url('assets/ProximaNovaSoft-Semibold.svg#ProximaNovaSoft-Semibold') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'roboto';
  src: url('assets/RobotoCondensed-Bold.eot?#iefix') format('embedded-opentype'),  url('assets/RobotoCondensed-Bold.woff') format('woff'), url('assets/RobotoCondensed-Bold.ttf')  format('truetype'), url('assets/RobotoCondensed-Bold.svg#RobotoCondensed-Bold') format('svg');
  font-weight: normal;
  font-style: normal;
=======
  padding-top: 3.5rem;
}

.sidebar {
  position: fixed;
  top: 51px;
  bottom: 0;
  left: 0;
  z-index: 1000;
  padding: 20px 0;
  overflow-x: hidden;
  overflow-y: auto;
  border-right: 1px solid #eee;
}

.sidebar .nav {
  margin-bottom: 20px;
}

.sidebar .nav-item {
  width: 100%;
}

.sidebar .nav-item + .nav-item {
  margin-left: 0;
}

.sidebar .nav-link {
  border-radius: 0;
>>>>>>> 052ee7eb146448dfb177922c6d6e24f24c49dea4
}
