@import '../../../styles/app';

.RideCardList {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: $spacing-3;
}

.RideCard {
  width: calc(100%/3 - 1.5rem);
  background-color: #FFFFFF;
  padding-bottom: $spacing-2;
  margin-top: $spacing-3;
  @extend %depth-1;

  img {
    width: 100%;
    margin-bottom: $spacing-1;
  }

  .container {
    display: flex;
    flex-wrap: wrap;
  }

  .left {
    width: 80%;
  }

  .right {
    width: 20%;
    text-align: center;
    background-color: $color-bg;
    padding: .5rem;
    border-radius: .5rem;

    strong {
      font-size: 2rem;
      display: block;
    }

    font-size: 1.2rem;
  }

}
